#H1{
    text-align: center;
    border: black 2px solid;
    height: 50px;
    margin-bottom: 20px;

}
table {
    width: 87pc;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    
}
/* th {
    background-color: #f2f2f2;
} */
body{
    border: solid black 2px;
}
#Buttn{
    width: 80px;
    background-color: grey;
    color: aliceblue;
   
    
}